XBLOOM_EMAIL=your@email.com
XBLOOM_PASSWORD=yourpassword
MCP_BASE_URL=https://your-domain-or-ip:8000
MCP_AUTH_TOKEN=your-static-token #openssl rand -hex 32
OAUTH_CLIENT_SECRET=your-client-secret #openssl rand -hex 32